services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - jwt_dew=popakaki
    depends_on:
      - db
    volumes:
      - ./configs:/app/configs:ro
    restart: unless-stopped
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: books
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./maigrations:/docker-entrypoint-initdb.d
volumes:
  db_data: